<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514306191717-452ec28c7814?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2369&q=80);">
  <div class="container">
    <h1>Watch List</h1>
  </div>
</div>

<%= link_to "Create a list", new_list_path, class: "action-btn"%>


<div class="container-show">
  <%@lists.each do |list| %>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
            <h2><%= link_to list.name, list_path(list) %></h2>


          </div>
        </div>
  <% end %>
</div>
