// Specific CSS for your home-page
.action{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2em;
  padding-right: 2em;
    a{
      color:white;
    }
}

.container-show{
  padding-left: 2em;
}

.card-trip-home{
  box-shadow: 0 0 15px rgba(0,0,0,1.2);
}

.card-img-list{
  height: 12.5em;
  width: 30em;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
    a{
      color: bisque;
    }
}

h3{
  margin: 2em;
}
