// Specific CSS for your home-page
.action{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2em;
  padding-right: 2em;
    a{
      color:white;
    }
}

.container-show{
  padding-left: 2em;
}

.card-trip-home{
  box-shadow: 0 0 15px rgba(0,0,0,1.2);
}

.card-img-list{
  background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://png.pngtree.com/background/20210712/original/pngtree-modern-double-color-futuristic-neon-background-picture-image_1181573.jpg);
  height: 12.5em;
  width: 25em;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
    a{
      color: bisque;
    }
}

h3{
  margin: 2em;
}
