// Specific CSS for your home-page
.action{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 2em;
  padding-right: 2em;
    a{
      color:white;
    }
}
.home{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 20px;
}
.container{
  padding: 0 2em;
}

.card-trip-home{
  box-shadow: 0 0 15px rgba(0,0,0,1.2);
}

.card-img-list{
  height: 12.5em;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
    a{
      color: bisque;
    }
}

h3{
  margin: 2em;
}
