.container-show{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
  padding: 2em;
}
.link{
  height: 4em;
  margin: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.card-trip-infos{
    .card-btn{
      padding-top: 1.8em;
    }
}


@media screen and (max-width: 500px) {
  .home {
    grid-template-columns: 1fr;
  }
}
