.container-show{
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 14em;
  padding: 2em;
}
.link{
  height: 4em;
  margin: 1em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1em;
}

.card-trip-infos{
    .card-btn{
      padding-top: 1.8em;
    }
}
